@import "fonts.scss";
@include font-face("Roboto-Italic", "../fonts/Roboto-Italic");

$appBgColor: #4a99d3;
$appWhiteColor: #ffffff;
$appNavyColor: rgba(33, 63, 100, 0.8);
$maxWidth: 1300px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* ::-webkit-scrollbar {
  display: none; /* chrome */
}

.App {
  color: $appWhiteColor;
  background: $appBgColor;
  font-size: 0.37cm; //14px
  font-family: "Roboto-Italic", sans-serif;
  line-height: 1.1;
}

.container {
  padding-top: 26.4mm; //100px
  width: 8.33in; //800px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $maxWidth) {
    width: 600px;
  }
}

.content {
  background: $appNavyColor;
  padding-bottom: 150px;
  height: auto;
  position: relative;
  z-index: 30;
}

.paragraph {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.title {
  color: $appWhiteColor;
}

.textWrapper {
  width: 700px;
  height: 1000px;
  margin: 0 auto;
  padding-top: calc(100% - 54em);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media screen and (max-width: $maxWidth) {
    width: 500px;
    padding-top: 30px;
  }
}

.pictures {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  img {
    margin: 0 auto;

    @media screen and (max-width: $maxWidth) {
      transform: scale(0.7);
    }
  }
}

.shape1 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 15%);
  z-index: 40;

  @media screen and (max-width: $maxWidth) {
    transform: scale(0.7) translate(70%, 15%);
  }
}

.shape2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 120%);
  z-index: 5;

  @media screen and (max-width: $maxWidth) {
    transform: scale(0.7) translate(-70%, 150%);
  }
}

.shape3 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, 250%);
  z-index: 5;

  @media screen and (max-width: $maxWidth) {
    transform: scale(0.7) translate(60%, 310%);
  }
}

.shape4 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 500%);
  z-index: 5;

  @media screen and (max-width: $maxWidth) {
    transform: scale(0.7) translate(-70%, 600%);
  }
}

.grass {
  background-image: url(../img/grass.png);
  height: 130px;
  width: 100%;
  background-repeat: repeat;
  position: fixed;
  bottom: 0;
  z-index: 50;
}
