@import "fonts.scss";
@include font-face("Roboto-Italic", "../fonts/Roboto-Italic");

$appBgColor: #4a99d3;
$appWhiteColor: #ffffff;
$appNavyColor: rgba(33, 63, 100, 0.8);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* ::-webkit-scrollbar {
  display: none;
}

.App {
  color: $appWhiteColor;
  font-size: 0.37cm;  //14px
  font-family: 'Roboto-Italic', sans-serif;
  line-height: 1.1;
}

.container {
  background: $appBgColor;
  padding-top: 26.4mm;  //100px
}

.content {
  background: $appNavyColor;
  width: 8.33in; //800px;
  margin: 0 auto;
  padding-bottom: 150px;
  height: auto;
  position: relative;

  @media screen and (max-width: 1200px) {
    width: 600px;
  }
}

.paragraph {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.title {
  color: $appWhiteColor;
}

.textWrapper {
  width: 700px;
  height: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media screen and (max-width: 1200px) {
    width: 500px;
  }
}

.pictures {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  img {
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
      transform: scale(0.7);
    }
  }
}



.shape1 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 40;

  @media screen and (max-width: 1200px) {
    transform: scale(0.7) translate(70%, -70%);
  }
}

.shape2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, 40%);
  z-index: 5;

  @media screen and (max-width: 1200px) {
    transform: scale(0.7) translate(-55%, 60%);
  }
}

.shape3 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, 130%);
  z-index: 5;

  @media screen and (max-width: 1200px) {
    transform: scale(0.7) translate(55%, 110%);
  }
}

.shape4 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10%, 210%);
  z-index: 5;

  @media screen and (max-width: 1200px) {
    transform: scale(0.7) translate(-10%, 230%);
  }
}

.grass {
  background-image: url(../img/grass.png);
  height: 130px;
  width: 100%;
  background-repeat: repeat;
  position: fixed;
  bottom: 0;
  z-index: 50;
}
