$appBgColor: #4a99d3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* ::-webkit-scrollbar {
  display: none;
}

.App {
  color: #eaecee;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  line-height: 1.1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  background: $appBgColor;
  padding-top: 100px;
}

.content {
  background: rgba(33, 63, 100, 0.8);
  width: 800px;
  margin: 0 auto;
  padding-bottom: 250px;
  height: auto;
  position: relative;
}

.paragraph {
  padding-bottom: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.title {
  color: white;
  padding-bottom: 43px;
}

.textWrapper {
  width: 700px;
  margin: 0 auto;
  padding-top: 50px;
}

.pictures {
  text-align: center;
}

.pictures img {
  padding-right: 12px;
}

.shape1 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 40;
}

.shape2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, 40%);
  z-index: 5;
}

.shape3 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, 130%);
  z-index: 5;
}

.shape4 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10%, 210%);
  z-index: 5;
}

.grass {
  background-image: url(./img/grass.png);
  height: 130px;
  width: 100%;
  background-repeat: repeat;
  position: fixed;
  bottom: 0;
  z-index: 50;
}
